# Ignore Python bytecode
__pycache__/
.venv

# Ignore datasets
data

temp
models
results
Datasets
defacto_models

Assignment1/*.png
Assignment2/*.png

##### Causion #####
# Ignore raw datasets while they are being downloaded
# MNIST
# tinyCelebA

